@keyframes modalTransisionOpen {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Comon */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: system-ui;
}
.clear {
    clear: both;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding: 0 8px;
}
.col-3{
    width: calc(100%/3);
}
.col-2{
    width: 50%;
}
.text-center{
    text-align: center;
}
.col-1{
    width: 100%;
}
.mt-8 {
    margin-top: 8px;
}
.mt-16 {
    margin-top: 16px;
}
.pull-right {
    float: right !important;
}



/* Main */
#header{
    background-color: black;
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
/* Nav */
#nav {
    display: inline-block;
}
#nav > li {
    display: inline-block;
    position: relative;
}
#nav > li > a {
    text-transform: uppercase;
    font-size: 15px;
}
#nav li a {
    color: white;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav > li:hover > a {
    color: black !important;
    background-color: gray !important;
}
#nav .subnav a:hover {
    color: black !important;
    background-color: gray !important;
}
#nav .subnav {
    display: none;
    position: absolute;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    min-width: 160px;
}
#nav .subnav a {
    color: black;
    background-color: white;
    padding: 0 12px;
    line-height: 30px;
    font-size: 15px;
}
#nav li:hover .subnav {
    display: block;
}
#header .down-icon {
    font-size: 12px;
}
/* Search */
#header .menu-icon,
#header .search {
    float: right;
}
#header .mobile-menu-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}
#header .mobile-menu-btn,
#header .search-btn {
    color: white;
    line-height: 46px;
    padding: 0 30px;
}
#header .mobile-menu-btn:hover {
    background-color: #ccc;
    color: black;
}
#header .search:hover {
    background-color: red;
    cursor: pointer;
}
/* slider */
.slider {
    margin-top: 40px;
    padding-top: 50%;
    background-image: url('/The-Band-W3S/img/slider1.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.slider .text-content {
    color: white;
    position: absolute;
    bottom: 24px;
    text-align: center;
    width: 100%;
}
.slider .text-heading {
    font-weight: 500px;
    font-size: 40px;
}
.slider .text-description {
    font-size: 25px;
    margin-top: 20px;
}
 /* ----------section--------- */
 .content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0px ;
    padding-left: 16px;
    padding-right: 16px;
 }
 .content .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
    
 }
 .content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 32px;
    margin-top: 25px;
    opacity: 0.6;
 }
 .content .about {
    line-height: 1.6;
    text-align: justify;
 }



 /* ------Member list */
 .content .list-member {
    float: left;
    margin-top: 32px;
    width: calc(100%/3);
    text-align: center;
 }
 .content .member-name {
    font-size: 15px;
    margin: 15px 0;
    line-height: 1.5;
 }
 .content .member-img {
    border-radius: 5px;
    width: 154px;
 }



 /* --------Tour------- */
 .tour {
    background: black;
 }
.tour .content-section {
    color: white;
    margin-top: 32px;
}
.tour .ticket {
   background: white;
   color: black;
   list-style: none;
   margin-top: 16px
}
.tour .ticket li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}
.ticket .sold-out {
    background-color: #f44336;
    color: white;
    padding: 3px 5px;
    margin-left: 16px;
}
.ticket .capacity {
    float: right;
    border-radius: 50%;
    background-color: black;
    width: 24px;
    height: 24px;
    color: white;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
}
/* Places */
.place-list{
    margin-top: 16px;
    padding-bottom: 96px;
}

.places-img{
    width: 100%;
    display: block;
}
.places-img:hover {
    opacity: 0.6;
}
.place-content{
    background-color: white;
    color: black;
    padding: 16px;
    /* margin-bottom: 32px; */
    font-size: 15px;
}
.place-heading{
    font-size: 15px;
    font-weight: 700;

}
.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-decription{
    margin-top: 15px;
    line-height: 1.6;
}
.btn{
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
    border: none;
}
.btn:hover {
    background-color: #CCCCCC;
    color: black;
}
/* Lớp modal bật ra */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.open {
    display: flex;
}
.modal-container{
    background: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    animation: modalTransisionOpen ease 0.6s;
}
.modal-header {
    font-size: 30px;
    background: #009688;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.modal .ti-bag {
    margin-right: 16px;
}
.modal .ti-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.9;

}
.ti-close:hover {
    opacity: 1;
    background: #f44336;

}
.modal-body {
    padding: 16px;
}
label.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}
.buy-ticket:hover {
    opacity: 0.8;
}
.buy-ticket {
    width: 100%;
    padding: 20px 0;
    background: #009688;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid #ccc ;
    cursor: pointer;
}
.modal-footer{
    padding: 16px;
    text-align: right;
}
.modal-footer a {
    color: #2196F3;  
    /* text-decoration: none; */
}


/* Contact */
.contact-content{
    margin-top: 48px;
}
.contact-info {
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
.contact-info a {
    color: #101aef;
    opacity: 0.8;
}
.contact-info a:hover {
    opacity: 1;
}

.contact-form {
    font-size: 15px;
}
.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}


.map-section img {
    width: 100%;
}


.footer {
    padding: 64px 16px;
    text-align: center;
}

.footer .social-list {
    font-size: 24px;
}
.footer .social-list a {
    text-decoration: none;
    color: rgba(0,0,0,0.6);    
}
.footer .cpr a:hover,
.footer .social-list a:hover {
    color: rgba(0,0,0,0.3);   
}
.footer .cpr  {
    margin-top: 15px;
    color: rgba(0,0,0,0.6);
}
.footer .cpr a {
    color: rgba(0,0,0,0.6);
}







/*  Responsive with css */

/* Tablet and mobile */
@media (max-width: 1023px) {
    .btn {
        padding: 17px 17px;
    }
    .contact-form .form-control {
        padding: 15px;
    }
    .footer .social-list {
        font-size: 24px;
        margin: 0 8px;
    } .footer .social-list a {
        margin: 0 8px;
    }
    .footer .cpr a {
        padding: 12px 0px;
        display: inline-block;
    }
    .contact-info {
        line-height: 2;
    }
}

/* Mobile */
@media (max-width: 739px) {
    #header {
        overflow: hidden;
    }
    #header .search-btn {
        display: none;
    }
    #nav li {
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #header .mobile-menu-btn {
        display: block;
    }
    #nav {
        display: block;
    }
    #nav .subnav {
        position: initial;
    }
    #nav .subnav a{
        background-color: #333;
        color: #fff;
        padding: 5px 40px;
    }
    .content .list-member {
        width: 100%;
        margin-top: 16px;   
    }
    .content .list-member .member-img {
        width:60%;
    }
    .col-3 {
        width:100%;
    }
    .member-list {
        margin-top: 16px;
    }
    .slider .text-content {
        display:none;
    }
    .contact-content .col-2 {
        width:100%;
    }
    .modal-container {
        margin: 0px 8px;
    }
    .contact-info {
        margin:0 0 24px;
    }
    .contact-form .row .col-2 {
        margin-top: 8px;
    }
    .s-full-width {
        width: 100%;
    }
}